* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/PapasPizzeriaBackground.jpg);
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  background-attachment: fixed;
}

.logoImage {
  width: 200px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logoContainer {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  gap: 150px;
  margin-top: 10px;
}

.navBar > button {
  background: none;
  border: none;
  cursor: pointer;
}

.navBar > button:hover > svg {
  filter: brightness(0.5);
}

footer {
  background: rgba(0, 0, 0, 0.5);
  color: #F4B974;
  padding: 5px 0px;
  text-align: center;
  width: 100%;
}

footer a {
  color: #F4B974;
}

footer a:hover {
  color: #d57506;
}

div#content {
  margin: 30px 0px;
  background-color: rgba(0, 0, 0, 0.741);
  width: 600px;
  color: #F4B974;
  padding: 25px 40px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrapper-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.welcome {
  font-size: 1.5rem;
}

.royProfile {
  display: inline-block;
  margin-top: 17px;
  background: url(assets/Roy_Original.jpg);
  border-radius: 50%;
  width: 30%;
  height: 200px;
  width: 200px;
  background-position: 30% 0%;
  background-size: 200px auto;
  border: 3px solid #004a90;
  margin-bottom: 17px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  row-gap: 20px;
}

.pizza {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.pizzaImage {
  height: 200px;
  width: 200px;
  background-size: contain;
  border-radius: 15px;
}

#pizza1 {
  background-image: url(assets/pizzas/1.png);
}

#pizza2 {
  background-image: url(assets/pizzas/2.png);
}

#pizza3 {
  background-image: url(assets/pizzas/3.png);
}

#pizza4 {
  background-image: url(assets/pizzas/4.png);
}

#pizza5 {
  background-image: url(assets/pizzas/5.png);
}

#pizza6 {
  background-image: url(assets/pizzas/6.png);
}

.aboutTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  font-size: 1.5rem;
}

.bannerImage {
  width: 450px;
  height: auto;
}